@use "../../assets/styles/variables" as *;

//global home
.heroContent,
.menuItemsContent,
.testimonialsItemsContent,
.aboutContent {
  display: grid;
  gap: 1rem;
}
//hero
.hero {
  background-color: $primary-1;
  color: white;
}
.heroTitle {
  color: $primary-2;
}
.heroSubtitle {
  color: $light;
}

.heroDescription {
  color: $light;
}
.heroCta {
  margin-top: 20px;
  display: flex;
}
.heroImg {
  margin-top: 20px;
  display: grid;
}
.heroImg img {
  // width: 60%;
  border-radius: 16px;
  // margin-bottom: -120px;
}
//Menu
.menuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.menuTopTitle {
  color: $primary-1;
  font-size: $titleSize;
  font-weight: bold;
  font-family: $hFont;
}
.menuItemsContent {
  display: grid;
  gap: 2rem;
  justify-content: center;
}

//testimonials
.testimonials {
  background-color: $secondary-2;
}
.testimonialsTitle {
  // color: $primary-1;
  font-size: $subtitleSize;
  font-weight: bold;
  // font-family: $hFont;
  text-align: center;
  margin-bottom: 40px;
}
.testimonialsItemsContent {
  display: grid;
  gap: 2rem;
}

//About
.aboutTitle {
  color: $primary-1;
  font-size: $titleSize;
  font-weight: bold;
  font-family: $hFont;
}
.aboutSubtitle {
  color: $secondary-1;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $hFont;
  font-size: $subtitleSize;
}

.aboutImgs {
  display: grid;
  justify-items: center;
  padding: 50px;
}
.aboutImgs img {
  border-radius: 16px;
  transition: 0.3s;
  opacity: 0.8;

  &:hover {
    z-index: 2;
    opacity: 1;
  }
  &:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(20%, 20%) rotate(-5deg);
    z-index: 1;
    &:hover {
      transform: translate(20%, 20%) scale(1.1);
    }
  }
  &:nth-child(2) {
    bottom: 0;
    right: 0;
    transform: translate(-20%, -20%) rotate(5deg);
    &:hover {
      transform: translate(-20%, -20%) scale(1.1);
    }
  }
}

@media #{$tablet} {
  .heroContent,
  .aboutContent {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .menuItemsContent {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // gap: 4rem;
  }
  .testimonialsItemsContent {
    grid-template-columns: repeat(2, 1fr);
    // gap: 2rem;
  }
  .heroImg {
    // margin-top: 20px;
    // display: grid;
    justify-items: center;
  }
}

@media #{$desktop} {
  .testimonialsItemsContent {
    grid-template-columns: repeat(4, 1fr);
  }
}
