@use "../../assets/styles/variables" as *;

.card {
  display: grid;
  gap: 1rem;
  border-radius: 16px;
  background-color: $light;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}
// .card:hover {
//   background-color: $primary-1;
//   transform: scale(1.03);

//   .description,
//   .cta {
//     color: $light;
//   }
//   .name {
//     color: $primary-2;
//   }
// }

.dish {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $primary-2;
  padding: 10px;
  clip-path: circle();
  z-index: 2;
  transition: .3s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.imgContent {
}
.imgContent img {
  // border-radius: 16px;
  width: 100%;
  transition: 0.3s;
  opacity: 0.8;
}
.text {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "name price"
    "description description"
    "cta cta";
  padding: 20px;
}
.name {
  font-size: 24px;
  font-weight: bold;
  grid-area: name;
  color: $dark;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
  grid-area: price;
  color: $secondary-1;
  text-align: right;
}
.description {
  font-size: 1rem;
  grid-area: description;
  color: $dark;
}
.cta {
  border: none;
  background-color: transparent;
  grid-area: cta;
  transition: 0.3s;
  &:hover {
    color: $secondary-1 !important;
  }
}
