//primary
$primary-1: #495e57;
$primary-2: #f4ce14;

//secondary
$secondary-1: #ee9972;
$secondary-2: #fbdabb;

//highlights
$light: #edefee;
$dark: #333333;

//fonts
$hFont: "Markazi Text", serif;
$pFont: "Karla", sans-serif;
$titleSize: 64px;
$subtitleSize: 40px;
//
$max-width-container: 1200px;
$padding-container: 80px 20px;

//responsive
$desktop: "only screen and (min-width: 1024px)";
