@forward "./min-reset.scss";
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: $padding-container;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $hFont;
}

p {
  font-family: $pFont;
  color: $dark;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  font-size: inherit;
  font-family: inherit;
}

.title {
  font-size: $titleSize;
  font-weight: bold;
  font-family: $hFont;
}
.subtitle {
  margin-top: -10px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: $hFont;
  font-size: $subtitleSize;
}

.btn {
  border-radius: 16px;
  background-color: $primary-2;
  color: $dark;
  padding: 15px 30px;
  border: none;
  font-family: $pFont;
  transition: 0.3s;
  font-size: inherit;
  &:hover {
    background-color: $secondary-1;
    color: $light;
    transform: scale(0.95);
    cursor: pointer;
  }
}
